In [1]:
import pandas as pd
import numpy as np

In [2]:
df_farmacias = pd.read_excel('../dados/brutos/farmacias_sp.xlsx')
df_farmacias

      UF MUNICIPIO_DESCRICAO Código IBGE  Estabelecimentos (Matriz + Filial)
0     SP              Totais         NaN                               21603
1     SP          Adamantina      Totais                                  25
2     SP          Adamantina     3500105                                  25
3     SP              Adolfo      Totais                                   4
4     SP              Adolfo     3500204                                   4
...   ..                 ...         ...                                 ...
1284  SP          Votorantim     3557006                                  61
1285  SP         Votuporanga      Totais                                  70
1286  SP         Votuporanga     3557105                                  70
1287  SP            Zacarias      Totais                                   2
1288  SP            Zacarias     3557154                                   2

[1289 rows x 4 columns]

In [3]:
df_farmacias.drop(0)

      UF MUNICIPIO_DESCRICAO Código IBGE  Estabelecimentos (Matriz + Filial)
1     SP          Adamantina      Totais                                  25
2     SP          Adamantina     3500105                                  25
3     SP              Adolfo      Totais                                   4
4     SP              Adolfo     3500204                                   4
5     SP               Aguaí      Totais                                  20
...   ..                 ...         ...                                 ...
1284  SP          Votorantim     3557006                                  61
1285  SP         Votuporanga      Totais                                  70
1286  SP         Votuporanga     3557105                                  70
1287  SP            Zacarias      Totais                                   2
1288  SP            Zacarias     3557154                                   2

[1288 rows x 4 columns]

In [4]:
df_farmacias = df_farmacias.drop(0)
df_farmacias = df_farmacias[df_farmacias['Código IBGE'] != 'Totais']
df_farmacias

      UF   MUNICIPIO_DESCRICAO Código IBGE  Estabelecimentos (Matriz + Filial)
2     SP            Adamantina     3500105                                  25
4     SP                Adolfo     3500204                                   4
6     SP                 Aguaí     3500303                                  20
8     SP        Águas da Prata     3500402                                   6
10    SP      Águas de Lindóia     3500501                                  14
...   ..                   ...         ...                                 ...
1280  SP  Vista Alegre do Alto     3556909                                   4
1282  SP        Vitória Brasil     3556958                                   2
1284  SP            Votorantim     3557006                                  61
1286  SP           Votuporanga     3557105                                  70
1288  SP              Zacarias     3557154                                   2

[644 rows x 4 columns]

In [5]:
df_farmacias.loc[:, 'Estabelecimentos (Matriz + Filial)'] = df_farmacias['Estabelecimentos (Matriz + Filial)'].astype(int)
df_farmacias

      UF   MUNICIPIO_DESCRICAO Código IBGE  Estabelecimentos (Matriz + Filial)
2     SP            Adamantina     3500105                                  25
4     SP                Adolfo     3500204                                   4
6     SP                 Aguaí     3500303                                  20
8     SP        Águas da Prata     3500402                                   6
10    SP      Águas de Lindóia     3500501                                  14
...   ..                   ...         ...                                 ...
1280  SP  Vista Alegre do Alto     3556909                                   4
1282  SP        Vitória Brasil     3556958                                   2
1284  SP            Votorantim     3557006                                  61
1286  SP           Votuporanga     3557105                                  70
1288  SP              Zacarias     3557154                                   2

[644 rows x 4 columns]

In [6]:
df_farmacias.rename(columns= {
                        'Estabelecimentos (Matriz + Filial)': 'QtdFarmacias',
                        'MUNICIPIO_DESCRICAO': 'NomeCidadeContagem',
                        'UF': 'UFContagem',
                        'Código IBGE':  'CodigoIBGE'
                    }, inplace=True)

"""DDL:
CREATE TABLE dw_score.DimContagemFarmacias (
    KeyContagemFarmacias INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    QtdFarmacias INT CHECK(QtdFarmacias >= 0),
    NomeCidadeContagem VARCHAR(255) NOT NULL,
    UFContagem CHAR(2) NOT NULL,
    CodigoIBGE CHAR(7) NOT NULL
);
"""

df_farmacias

     UFContagem    NomeCidadeContagem CodigoIBGE  QtdFarmacias
2            SP            Adamantina    3500105            25
4            SP                Adolfo    3500204             4
6            SP                 Aguaí    3500303            20
8            SP        Águas da Prata    3500402             6
10           SP      Águas de Lindóia    3500501            14
...         ...                   ...        ...           ...
1280         SP  Vista Alegre do Alto    3556909             4
1282         SP        Vitória Brasil    3556958             2
1284         SP            Votorantim    3557006            61
1286         SP           Votuporanga    3557105            70
1288         SP              Zacarias    3557154             2

[644 rows x 4 columns]

In [7]:
"""DDL:
CREATE TABLE dw_score.DimContagemFarmacias (
    KeyContagemFarmacias INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    QtdFarmacias INT CHECK(QtdFarmacias >= 0),
    NomeCidadeContagem VARCHAR(255) NOT NULL,
    UFContagem CHAR(2) NOT NULL,
    CodigoIBGE CHAR(7) NOT NULL
);
"""

df_farmacias_to_save = df_farmacias[['QtdFarmacias', 'NomeCidadeContagem', 'UFContagem', 'CodigoIBGE']]
df_farmacias_to_save

      QtdFarmacias    NomeCidadeContagem UFContagem CodigoIBGE
2               25            Adamantina         SP    3500105
4                4                Adolfo         SP    3500204
6               20                 Aguaí         SP    3500303
8                6        Águas da Prata         SP    3500402
10              14      Águas de Lindóia         SP    3500501
...            ...                   ...        ...        ...
1280             4  Vista Alegre do Alto         SP    3556909
1282             2        Vitória Brasil         SP    3556958
1284            61            Votorantim         SP    3557006
1286            70           Votuporanga         SP    3557105
1288             2              Zacarias         SP    3557154

[644 rows x 4 columns]

In [8]:
df_farmacias_to_save.sort_values(by='QtdFarmacias', inplace=True, ascending=False)
df_farmacias_to_save

      QtdFarmacias      NomeCidadeContagem UFContagem CodigoIBGE
1130          4887  São Paulo (território)         SP    3550308
218            585                Campinas         SP    3509502
430            513               Guarulhos         SP    3518800
1074           339             Santo André         SP    3547809
980            330          Ribeirão Preto         SP    3543402
...            ...                     ...        ...        ...
698              1                 Mombuca         SP    3530904
620              1                 Lourdes         SP    3527256
590              1                 Jumirim         SP    3525854
78               1               Arco-Íris         SP    3503356
72               1                  Arapeí         SP    3503158

[644 rows x 4 columns]

In [9]:
df_farmacias_to_save['QtdFarmacias'] = df_farmacias_to_save['QtdFarmacias'].astype(int)
df_farmacias_to_save['NomeCidadeContagem'] = df_farmacias_to_save['NomeCidadeContagem'].astype(str)
df_farmacias_to_save['UFContagem'] = df_farmacias_to_save['UFContagem'].astype(str)
df_farmacias_to_save['CodigoIBGE'] = df_farmacias_to_save['CodigoIBGE'].astype(str)

df_farmacias_to_save.to_csv('../dados/processados/farmacias_sp_processadas.csv', sep=',', encoding='UTF-8', columns=['QtdFarmacias', 'NomeCidadeContagem', 'UFContagem', 'CodigoIBGE'], index=False)