In [112]:
import pandas as pd
import numpy as np

In [113]:
df_pib = pd.read_excel('../dados/brutos/pib_por_setor_sp.xlsx', header=None)
df_pib

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,NaN,NaN,Indústria,Indústria,Indústria,Indústria,Indústria,Indústria,Indústria,Indústria,...,Administração Pública,Administração Pública,Administração Pública,Administração Pública,Administração Pública,Administração Pública,Administração Pública,Administração Pública,Administração Pública,Administração Pública
1,NaN,Ano,2010,2011,2012,2013,2014,2015,2016,2017,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
2,UF,Município,2010,2011,2012,2013,2014,2015,2016,2017,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
3,SP,Totais,989136333000,1001469840000,1004609751000,1041545770000,1019721397000,1028710665000,1039606786000,1007651001000,...,319328443000,223418687000,134871956000,123964679000,115318523000,107805089000,121046398000,186585713000,197274108000,206915182000
4,SP,ADAMANTINA,-,124684000,-,0,0,0,0,-,...,-,0,134512000,0,151041000,-,-,193544000,224370000,228217000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,SP,VISTA ALEGRE DO ALTO,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,38861000,43311000,45134000
645,SP,VITÓRIA BRASIL,908798000,1040705000,1120129000,0,0,1453341000,1563291000,1682679000,...,8319679000,9409874000,0,0,0,0,0,12963000,13926000,13866000
646,SP,VOTORANTIM,0,0,-,1047054000,1966588000,1703434000,0,0,...,-,0,0,0,0,0,485021000,501011000,509240000,549536000
647,SP,VOTUPORANGA,-,-,0,424109000,0,0,0,0,...,0,0,0,299276000,307936000,332107000,0,362173000,380205000,387363000
648,SP,ZACARIAS,4654631000,5186845000,5947268000,5752691000,-,6166865000,-,8511862000,...,0,14657000,-,0,-,0,0,19446000,21286000,21355000

In [114]:
setor_anos = df_pib.iloc[0, 2:]
np.unique(setor_anos)

array(['Administração Pública', 'Agropecuária', 'Comércio e Serviços',
       'Indústria'], dtype=object)

In [115]:
anos_por_setor = df_pib.iloc[1, 2:]
colunas_mapeadas = []
for setor, ano in zip(setor_anos, anos_por_setor):
    if pd.isna(setor) or pd.isna(ano):
        colunas_mapeadas.append(('Desconhecido', 'Desconhecido'))
    else:
        setor = str(setor).strip()
        ano = str(int(float(ano)))
        colunas_mapeadas.append((setor, ano))
df_dados = df_pib.iloc[2:, :].copy()
df_dados

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
2,UF,Município,2010,2011,2012,2013,2014,2015,2016,2017,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
3,SP,Totais,989136333000,1001469840000,1004609751000,1041545770000,1019721397000,1028710665000,1039606786000,1007651001000,...,319328443000,223418687000,134871956000,123964679000,115318523000,107805089000,121046398000,186585713000,197274108000,206915182000
4,SP,ADAMANTINA,-,124684000,-,0,0,0,0,-,...,-,0,134512000,0,151041000,-,-,193544000,224370000,228217000
5,SP,ADOLFO,4663698000,5499584000,4353181000,5430255000,-,5704379000,7848505000,8090056000,...,0,0,-,0,0,0,-,22615000,21485000,27140000
6,SP,AGUAÍ,-,0,-,-,223947000,-,-,-,...,-,-,0,-,-,-,0,136057000,150345000,151740000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,SP,VISTA ALEGRE DO ALTO,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,38861000,43311000,45134000
645,SP,VITÓRIA BRASIL,908798000,1040705000,1120129000,0,0,1453341000,1563291000,1682679000,...,8319679000,9409874000,0,0,0,0,0,12963000,13926000,13866000
646,SP,VOTORANTIM,0,0,-,1047054000,1966588000,1703434000,0,0,...,-,0,0,0,0,0,485021000,501011000,509240000,549536000
647,SP,VOTUPORANGA,-,-,0,424109000,0,0,0,0,...,0,0,0,299276000,307936000,332107000,0,362173000,380205000,387363000
648,SP,ZACARIAS,4654631000,5186845000,5947268000,5752691000,-,6166865000,-,8511862000,...,0,14657000,-,0,-,0,0,19446000,21286000,21355000

In [116]:
df_dados = df_dados.reset_index(drop=True).drop([0, 1])
df_dados

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
2,SP,ADAMANTINA,-,124684000,-,0,0,0,0,-,...,-,0,134512000,0,151041000,-,-,193544000,224370000,228217000
3,SP,ADOLFO,4663698000,5499584000,4353181000,5430255000,-,5704379000,7848505000,8090056000,...,0,0,-,0,0,0,-,22615000,21485000,27140000
4,SP,AGUAÍ,-,0,-,-,223947000,-,-,-,...,-,-,0,-,-,-,0,136057000,150345000,151740000
5,SP,ÁGUAS DA PRATA,0,16159000,-,-,-,-,-,-,...,-,-,-,-,-,-,0,33326000,34092000,36923000
6,SP,ÁGUAS DE LINDÓIA,0,0,0,0,-,0,0,0,...,0,0,-,0,0,0,0,96318000,112886000,114951000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,SP,VISTA ALEGRE DO ALTO,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,38861000,43311000,45134000
643,SP,VITÓRIA BRASIL,908798000,1040705000,1120129000,0,0,1453341000,1563291000,1682679000,...,8319679000,9409874000,0,0,0,0,0,12963000,13926000,13866000
644,SP,VOTORANTIM,0,0,-,1047054000,1966588000,1703434000,0,0,...,-,0,0,0,0,0,485021000,501011000,509240000,549536000
645,SP,VOTUPORANGA,-,-,0,424109000,0,0,0,0,...,0,0,0,299276000,307936000,332107000,0,362173000,380205000,387363000
646,SP,ZACARIAS,4654631000,5186845000,5947268000,5752691000,-,6166865000,-,8511862000,...,0,14657000,-,0,-,0,0,19446000,21286000,21355000

In [117]:
novos_nomes = ['UF', 'Municipio'] + [f"{s}_{a}" for s, a in colunas_mapeadas]
df_dados.columns = novos_nomes

In [118]:
df_dados.reset_index(drop=True, inplace=True)
df_dados.replace('-', np.nan, inplace=True)
pib_cols = [col for col in df_dados.columns if '_' in col and col.split('_')[0] in [
    'Administração Pública', 'Agropecuária', 'Comércio e Serviços', 'Indústria'
]]
df_long = pd.melt(
    df_dados,
    id_vars=['UF', 'Municipio'],
    value_vars=pib_cols,
    var_name='Setor_Ano',
    value_name='ValorPIB'
)
df_long

/tmp/ipykernel_107530/1231594586.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_dados.replace('-', np.nan, inplace=True)

       UF             Municipio                   Setor_Ano      ValorPIB
0      SP            ADAMANTINA              Indústria_2010           NaN
1      SP                ADOLFO              Indústria_2010  4.663698e+09
2      SP                 AGUAÍ              Indústria_2010           NaN
3      SP        ÁGUAS DA PRATA              Indústria_2010  0.000000e+00
4      SP      ÁGUAS DE LINDÓIA              Indústria_2010  0.000000e+00
...    ..                   ...                         ...           ...
30955  SP  VISTA ALEGRE DO ALTO  Administração Pública_2021  4.513400e+07
30956  SP        VITÓRIA BRASIL  Administração Pública_2021  1.386600e+07
30957  SP            VOTORANTIM  Administração Pública_2021  5.495360e+08
30958  SP           VOTUPORANGA  Administração Pública_2021  3.873630e+08
30959  SP              ZACARIAS  Administração Pública_2021  2.135500e+07

[30960 rows x 4 columns]

In [119]:
# DDL
"""
CREATE TABLE dw_score.DimPIB (
    KeyPIB INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    ValorPIB INT,
    AnoPIB INT NOT NULL,
    SetorPIB VARCHAR(32) NOT NULL,
    NomeCidadePIB VARCHAR(255) NOT NULL,
    UFPIB CHAR(2) NOT NULL,
    CodigoIBGE CHAR(7) NOT NULL
)
"""
df_long[['SetorPIB', 'AnoPIB']] = df_long['Setor_Ano'].str.split('_', expand=True)
df_long['ValorPIB'] = df_long['ValorPIB'].astype(float).astype('Int64')
df_long['UFPIB'] = df_long['UF'].str.strip()
df_long['NomeCidadePIB'] = df_long['Municipio'].str.strip()
df_long

,UF,Municipio,Setor_Ano,ValorPIB,SetorPIB,AnoPIB,UFPIB,NomeCidadePIB
0,SP,ADAMANTINA,Indústria_2010,<NA>,Indústria,2010,SP,ADAMANTINA
1,SP,ADOLFO,Indústria_2010,4663698000,Indústria,2010,SP,ADOLFO
2,SP,AGUAÍ,Indústria_2010,<NA>,Indústria,2010,SP,AGUAÍ
3,SP,ÁGUAS DA PRATA,Indústria_2010,0,Indústria,2010,SP,ÁGUAS DA PRATA
4,SP,ÁGUAS DE LINDÓIA,Indústria_2010,0,Indústria,2010,SP,ÁGUAS DE LINDÓIA
...,...,...,...,...,...,...,...,...
30955,SP,VISTA ALEGRE DO ALTO,Administração Pública_2021,45134000,Administração Pública,2021,SP,VISTA ALEGRE DO ALTO
30956,SP,VITÓRIA BRASIL,Administração Pública_2021,13866000,Administração Pública,2021,SP,VITÓRIA BRASIL
30957,SP,VOTORANTIM,Administração Pública_2021,549536000,Administração Pública,2021,SP,VOTORANTIM
30958,SP,VOTUPORANGA,Administração Pública_2021,387363000,Administração Pública,2021,SP,VOTUPORANGA
30959,SP,ZACARIAS,Administração Pública_2021,21355000,Administração Pública,2021,SP,ZACARIAS

In [120]:
len(np.unique(df_long['NomeCidadePIB']))

645

In [121]:
df_cidades = pd.read_csv('../dados/processados/cidades_sp_processadas.csv')
df_cidades

    NomeCidadePotencial UFCidadePotencial  CodigoIBGE
0            Adamantina                SP     3500105
1                Adolfo                SP     3500204
2                 Aguaí                SP     3500303
3        Águas da Prata                SP     3500402
4      Águas de Lindóia                SP     3500501
..                  ...               ...         ...
640          Votorantim                SP     3557006
641         Votuporanga                SP     3557105
642            Zacarias                SP     3557154
643           Chavantes                SP     3557204
644        Estiva Gerbi                SP     3557303

[645 rows x 3 columns]

In [122]:
df_cidades['NomeCidadePotencial'] = df_cidades['NomeCidadePotencial'].str.upper()
df_cidades

    NomeCidadePotencial UFCidadePotencial  CodigoIBGE
0            ADAMANTINA                SP     3500105
1                ADOLFO                SP     3500204
2                 AGUAÍ                SP     3500303
3        ÁGUAS DA PRATA                SP     3500402
4      ÁGUAS DE LINDÓIA                SP     3500501
..                  ...               ...         ...
640          VOTORANTIM                SP     3557006
641         VOTUPORANGA                SP     3557105
642            ZACARIAS                SP     3557154
643           CHAVANTES                SP     3557204
644        ESTIVA GERBI                SP     3557303

[645 rows x 3 columns]

In [123]:
map_pib = set(np.unique(df_long['NomeCidadePIB']))
map_cidades = set(np.unique(df_cidades['NomeCidadePotencial']))
print('Nomes PIB')
for cidade in map_pib:
    if cidade not in map_cidades:
        print(cidade)
print('#'*20)
print('Nomes cidades')
for cidade in map_cidades:
    if cidade not in map_pib:
        print(cidade)

Nomes PIB
BIRITIBA-MIRIM
FLORÍNIA
ITAÓCA
SÃO LUÍZ DO PARAITINGA
####################
Nomes cidades
SÃO LUIZ DO PARAITINGA
FLORÍNEA
BIRITIBA MIRIM
ITAOCA

In [124]:
names_to_map = {
    'BIRITIBA-MIRIM' : 'BIRITIBA MIRIM',
    'FLORÍNIA': 'FLORÍNEA',
    'SÃO LUÍZ DO PARAITINGA': 'SÃO LUIZ DO PARAITINGA',
    'ITAÓCA': 'ITAOCA',
}

df_long['NomeCidadePIB'] = df_long['NomeCidadePIB'].map(names_to_map).fillna(df_long['NomeCidadePIB'])

In [125]:
df_joined = pd.merge(df_long, df_cidades, how='inner', left_on='NomeCidadePIB', right_on='NomeCidadePotencial')
df_joined

,UF,Municipio,Setor_Ano,ValorPIB,SetorPIB,AnoPIB,UFPIB,NomeCidadePIB,NomeCidadePotencial,UFCidadePotencial,CodigoIBGE
0,SP,ADAMANTINA,Indústria_2010,<NA>,Indústria,2010,SP,ADAMANTINA,ADAMANTINA,SP,3500105
1,SP,ADOLFO,Indústria_2010,4663698000,Indústria,2010,SP,ADOLFO,ADOLFO,SP,3500204
2,SP,AGUAÍ,Indústria_2010,<NA>,Indústria,2010,SP,AGUAÍ,AGUAÍ,SP,3500303
3,SP,ÁGUAS DA PRATA,Indústria_2010,0,Indústria,2010,SP,ÁGUAS DA PRATA,ÁGUAS DA PRATA,SP,3500402
4,SP,ÁGUAS DE LINDÓIA,Indústria_2010,0,Indústria,2010,SP,ÁGUAS DE LINDÓIA,ÁGUAS DE LINDÓIA,SP,3500501
...,...,...,...,...,...,...,...,...,...,...,...
30955,SP,VISTA ALEGRE DO ALTO,Administração Pública_2021,45134000,Administração Pública,2021,SP,VISTA ALEGRE DO ALTO,VISTA ALEGRE DO ALTO,SP,3556909
30956,SP,VITÓRIA BRASIL,Administração Pública_2021,13866000,Administração Pública,2021,SP,VITÓRIA BRASIL,VITÓRIA BRASIL,SP,3556958
30957,SP,VOTORANTIM,Administração Pública_2021,549536000,Administração Pública,2021,SP,VOTORANTIM,VOTORANTIM,SP,3557006
30958,SP,VOTUPORANGA,Administração Pública_2021,387363000,Administração Pública,2021,SP,VOTUPORANGA,VOTUPORANGA,SP,3557105
30959,SP,ZACARIAS,Administração Pública_2021,21355000,Administração Pública,2021,SP,ZACARIAS,ZACARIAS,SP,3557154

In [126]:
len(np.unique(df_joined['NomeCidadePIB']))

645

In [127]:
# DDL
"""
CREATE TABLE dw_score.DimPIB (
    KeyPIB INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    ValorPIB INT,
    AnoPIB INT NOT NULL,
    SetorPIB VARCHAR(32) NOT NULL,
    NomeCidadePIB VARCHAR(255) NOT NULL,
    UFPIB CHAR(2) NOT NULL,
    CodigoIBGE CHAR(7) NOT NULL
)
"""

df_to_save = df_joined[['ValorPIB', 'SetorPIB', 'AnoPIB', 'NomeCidadePIB', 'UFPIB', 'CodigoIBGE']].copy()
df_to_save

,ValorPIB,SetorPIB,AnoPIB,NomeCidadePIB,UFPIB,CodigoIBGE
0,<NA>,Indústria,2010,ADAMANTINA,SP,3500105
1,4663698000,Indústria,2010,ADOLFO,SP,3500204
2,<NA>,Indústria,2010,AGUAÍ,SP,3500303
3,0,Indústria,2010,ÁGUAS DA PRATA,SP,3500402
4,0,Indústria,2010,ÁGUAS DE LINDÓIA,SP,3500501
...,...,...,...,...,...,...
30955,45134000,Administração Pública,2021,VISTA ALEGRE DO ALTO,SP,3556909
30956,13866000,Administração Pública,2021,VITÓRIA BRASIL,SP,3556958
30957,549536000,Administração Pública,2021,VOTORANTIM,SP,3557006
30958,387363000,Administração Pública,2021,VOTUPORANGA,SP,3557105
30959,21355000,Administração Pública,2021,ZACARIAS,SP,3557154

In [128]:
df_to_save['ValorPIB'] = df_to_save['ValorPIB'].astype('Int64')
df_to_save['SetorPIB'] = df_to_save['SetorPIB'].astype(str)
df_to_save['AnoPIB'] = df_to_save['AnoPIB'].astype(int)
df_to_save['NomeCidadePIB'] = df_to_save['NomeCidadePIB'].astype(str)
df_to_save['UFPIB'] = df_to_save['UFPIB'].astype(str)
df_to_save['CodigoIBGE'] = df_to_save['CodigoIBGE'].astype(str)

df_to_save.to_csv('../dados/processados/pib_sp_processado_por_setor.csv', sep=',', encoding='UTF-8', columns=['ValorPIB', 'SetorPIB', 'AnoPIB', 'NomeCidadePIB', 'UFPIB', 'CodigoIBGE'], index=False)