In [24]:
import pandas as pd
import numpy as np

In [25]:
df_pop = pd.read_csv('../dados/brutos/censo2022_sexo_idade.csv', sep=';', encoding='latin1')
df_pop

        ano  cod_ibge     municipio    sexo    idade  populacao
0      2010   3503901         Arujá  Homens  00 a 04       2737
1      2010   3503901         Arujá  Homens  05 a 09       3063
2      2010   3503901         Arujá  Homens  10 a 14       3673
3      2010   3503901         Arujá  Homens  15 a 19       3483
4      2010   3503901         Arujá  Homens  20 a 24       3356
...     ...       ...           ...     ...      ...        ...
49015  2022   3557303  Estiva Gerbi  Homens  70 a 74        172
49016  2022   3557303  Estiva Gerbi  Homens  75 a 79         85
49017  2022   3557303  Estiva Gerbi  Homens  80 a 84         47
49018  2022   3557303  Estiva Gerbi  Homens  85 a 89         22
49019  2022   3557303  Estiva Gerbi  Homens   90 e +         12

[49020 rows x 6 columns]

In [26]:
df_pop = df_pop[df_pop['ano'] == 2022]
df_pop

        ano  cod_ibge     municipio      sexo    idade  populacao
24510  2022   3500105    Adamantina  Mulheres  00 a 04        866
24511  2022   3500105    Adamantina  Mulheres  05 a 09        844
24512  2022   3500105    Adamantina  Mulheres  10 a 14        853
24513  2022   3500105    Adamantina  Mulheres  15 a 19        933
24514  2022   3500105    Adamantina  Mulheres  20 a 24       1093
...     ...       ...           ...       ...      ...        ...
49015  2022   3557303  Estiva Gerbi    Homens  70 a 74        172
49016  2022   3557303  Estiva Gerbi    Homens  75 a 79         85
49017  2022   3557303  Estiva Gerbi    Homens  80 a 84         47
49018  2022   3557303  Estiva Gerbi    Homens  85 a 89         22
49019  2022   3557303  Estiva Gerbi    Homens   90 e +         12

[24510 rows x 6 columns]

In [27]:
# DDL
"""
CREATE TABLE dw_score.DimPopulacao (
    KeyPopulacao INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    ContagemPop INT NOT NULL,
    FaixaEtariaPop VARCHAR(32) NOT NULL,
    SexoPop CHAR(1) NOT NULL,
    NomeCidadePopulacao VARCHAR(255) NOT NULL,
    UFPopulacao CHAR(2) NOT NULL,
    CodigoIBGE CHAR(7) NOT NULL
);
"""

df_pop = df_pop.rename(columns={
    'cod_ibge': 'CodigoIBGE',
    'municipio': 'NomeCidadePopulacao',
    'sexo': 'SexoPop',
    'idade': 'FaixaEtariaPop',
    'populacao': 'ContagemPop'
})
df_pop

,ano,CodigoIBGE,NomeCidadePopulacao,SexoPop,FaixaEtariaPop,ContagemPop
24510,2022,3500105,Adamantina,Mulheres,00 a 04,866
24511,2022,3500105,Adamantina,Mulheres,05 a 09,844
24512,2022,3500105,Adamantina,Mulheres,10 a 14,853
24513,2022,3500105,Adamantina,Mulheres,15 a 19,933
24514,2022,3500105,Adamantina,Mulheres,20 a 24,1093
...,...,...,...,...,...,...
49015,2022,3557303,Estiva Gerbi,Homens,70 a 74,172
49016,2022,3557303,Estiva Gerbi,Homens,75 a 79,85
49017,2022,3557303,Estiva Gerbi,Homens,80 a 84,47
49018,2022,3557303,Estiva Gerbi,Homens,85 a 89,22
49019,2022,3557303,Estiva Gerbi,Homens,90 e +,12

In [28]:
print(np.unique(df_pop['SexoPop']))

['Homens' 'Mulheres']

In [29]:
df_pop_to_save = df_pop[['ContagemPop', 'FaixaEtariaPop', 'SexoPop', 'NomeCidadePopulacao']].copy()
df_pop_to_save['UFPopulacao'] = 'SP'
df_pop_to_save['CodigoIBGE'] = df_pop['CodigoIBGE']
df_pop_to_save['SexoPop'] = df_pop_to_save['SexoPop'].str[0]
df_pop_to_save

,ContagemPop,FaixaEtariaPop,SexoPop,NomeCidadePopulacao,UFPopulacao,CodigoIBGE
24510,866,00 a 04,M,Adamantina,SP,3500105
24511,844,05 a 09,M,Adamantina,SP,3500105
24512,853,10 a 14,M,Adamantina,SP,3500105
24513,933,15 a 19,M,Adamantina,SP,3500105
24514,1093,20 a 24,M,Adamantina,SP,3500105
...,...,...,...,...,...,...
49015,172,70 a 74,H,Estiva Gerbi,SP,3557303
49016,85,75 a 79,H,Estiva Gerbi,SP,3557303
49017,47,80 a 84,H,Estiva Gerbi,SP,3557303
49018,22,85 a 89,H,Estiva Gerbi,SP,3557303
49019,12,90 e +,H,Estiva Gerbi,SP,3557303

In [30]:
faixa_map = {
    '00 a 04': '00-04',
    '05 a 09': '05-09',
    '10 a 14': '10-14',
    '15 a 19': '15-19',
    '20 a 24': '20-24',
    '25 a 29': '25-29',
    '30 a 34': '30-34',
    '35 a 39': '35-39',
    '40 a 44': '40-44',
    '45 a 49': '45-49',
    '50 a 54': '50-54',
    '55 a 59': '55-59',
    '60 a 64': '60-64',
    '65 a 69': '65-69',
    '70 a 74': '70-74',
    '75 a 79': '75-79',
    '80 a 84': '80-84',
    '85 a 89': '85-89',
    '90 e +': '90+'
}

df_pop_to_save['FaixaEtariaPop'] = df_pop_to_save['FaixaEtariaPop'].map(faixa_map)
df_pop_to_save

,ContagemPop,FaixaEtariaPop,SexoPop,NomeCidadePopulacao,UFPopulacao,CodigoIBGE
24510,866,00-04,M,Adamantina,SP,3500105
24511,844,05-09,M,Adamantina,SP,3500105
24512,853,10-14,M,Adamantina,SP,3500105
24513,933,15-19,M,Adamantina,SP,3500105
24514,1093,20-24,M,Adamantina,SP,3500105
...,...,...,...,...,...,...
49015,172,70-74,H,Estiva Gerbi,SP,3557303
49016,85,75-79,H,Estiva Gerbi,SP,3557303
49017,47,80-84,H,Estiva Gerbi,SP,3557303
49018,22,85-89,H,Estiva Gerbi,SP,3557303
49019,12,90+,H,Estiva Gerbi,SP,3557303

In [31]:
df_pop_to_save['ContagemPop'] = df_pop_to_save['ContagemPop'].astype(int)
df_pop_to_save['FaixaEtariaPop'] = df_pop_to_save['FaixaEtariaPop'].astype(str)
df_pop_to_save['SexoPop'] = df_pop_to_save['SexoPop'].astype(str)
df_pop_to_save['NomeCidadePopulacao'] = df_pop_to_save['NomeCidadePopulacao'].astype(str)
df_pop_to_save['UFPopulacao'] = df_pop_to_save['UFPopulacao'].astype(str)
df_pop_to_save['CodigoIBGE'] = df_pop_to_save['CodigoIBGE'].astype(str)

df_pop_to_save.to_csv('../dados/processados/populacao_sp_processada.csv', sep=',', encoding='UTF-8', columns=['ContagemPop', 'FaixaEtariaPop', 'SexoPop', 'NomeCidadePopulacao', 'UFPopulacao', 'CodigoIBGE'], index=False)