In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_excel('farmacias_sp.xlsx')

In [4]:
df

      UF MUNICIPIO_DESCRICAO Código IBGE  Estabelecimentos (Matriz + Filial)
0     SP              Totais         NaN                               21603
1     SP          Adamantina      Totais                                  25
2     SP          Adamantina     3500105                                  25
3     SP              Adolfo      Totais                                   4
4     SP              Adolfo     3500204                                   4
...   ..                 ...         ...                                 ...
1284  SP          Votorantim     3557006                                  61
1285  SP         Votuporanga      Totais                                  70
1286  SP         Votuporanga     3557105                                  70
1287  SP            Zacarias      Totais                                   2
1288  SP            Zacarias     3557154                                   2

[1289 rows x 4 columns]

In [5]:
farmacias = df[df['Código IBGE'] == 'Totais']
farmacias

      UF   MUNICIPIO_DESCRICAO Código IBGE  Estabelecimentos (Matriz + Filial)
1     SP            Adamantina      Totais                                  25
3     SP                Adolfo      Totais                                   4
5     SP                 Aguaí      Totais                                  20
7     SP        Águas da Prata      Totais                                   6
9     SP      Águas de Lindóia      Totais                                  14
...   ..                   ...         ...                                 ...
1279  SP  Vista Alegre do Alto      Totais                                   4
1281  SP        Vitória Brasil      Totais                                   2
1283  SP            Votorantim      Totais                                  61
1285  SP           Votuporanga      Totais                                  70
1287  SP              Zacarias      Totais                                   2

[644 rows x 4 columns]

In [6]:
df_farmacias = farmacias.drop(['Código IBGE'], axis=1).rename(columns={'Estabelecimentos (Matriz + Filial)': 'COUNT', 'MUNICIPIO_DESCRICAO': 'MUNICIPIO'}).sort_values(by='COUNT', ascending=False)
df_farmacias

      UF               MUNICIPIO  COUNT
1129  SP  São Paulo (território)   4887
217   SP                Campinas    585
429   SP               Guarulhos    513
1073  SP             Santo André    339
979   SP          Ribeirão Preto    330
...   ..                     ...    ...
697   SP                 Mombuca      1
619   SP                 Lourdes      1
589   SP                 Jumirim      1
77    SP               Arco-Íris      1
71    SP                  Arapeí      1

[644 rows x 3 columns]

In [7]:
df_farmacias.loc[df_farmacias['MUNICIPIO'] == "São Paulo (território)", 'MUNICIPIO'] = "São Paulo"
df_farmacias.loc[df_farmacias['MUNICIPIO'] == "Embu", 'MUNICIPIO'] = "Embu das Artes"
df_farmacias['MUNICIPIO'] = df_farmacias['MUNICIPIO'].str.replace("´", "'", regex=False)
df_farmacias['MUNICIPIO'] = df_farmacias['MUNICIPIO'].str.replace("-", " ", regex=False)

In [8]:
df_farmacias.to_csv('FarmaciasSPCount.csv', index=False)